<!DOCTYPE html>
<html>
<head>
	<title>Tweet Sentiment Analysis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
	<div class='container-fluid jumbotron' style="background-color: #ddd">
		<div class='text-center'>
			<div><h1>Tweet Sentiment Analysis</h1></div>
						
			<div id="search_box" class="container-fluid">
				<input type="text" id="query" placeholder="Enter your topic here" style="width: 30%">
				<button id="search" class="btn" style="padding-top: 2px; padding-bottom: 2px; margin-top: -5px; background-color: tomato; color: white">Search</button>
				<br>
				<!--div id="loading">Loading...</div-->
				<br>
				<div id="container" ></div>
				
			</div>	
		</div>
		<div id="tweets"></div>
	</div>
	<div class="text-center">Developed by Hrishikesh Mane- <a href="https://www.linkedin.com/in/hrishikesh-mane-755bab16a/">LinkedIn</a> | <a href="https://github.com/hrishikeshmane">GitHub</a> </div>
	<script type="text/javascript">

	 var current_data;

		function sentiment_to_color(sentiment){
			if(sentiment == 'positive') return 'panel-success';
			else if(sentiment == 'negative') return 'panel-danger';
			else return 'panel-primary';
		}

		function load_tweets(querystring){
			$.ajax({
			    url: 'tweets',
			    data: {'query': querystring, 'retweets_only': 'false', 'with_sentiment': 'true'},
			    dataType: 'json',
			    type: 'GET',
			    success: function(data) {
			    	buildChart(data);
			    	current_data = data['data'];
			        var tweets = data['data'];
			        var container = $('#tweets');
			        var contents = '';
			        contents+='<div>'
			        
			        
			    }
			});
		}

		$(document).ready(function(){
			load_tweets('Data Science');
		});

		$('#search').click(function(){
			$('#loading').html('Loading...');
			$('#tweets').html('');
			load_tweets($('#query').val());
		});

		
	function buildChart(data) {
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'last 100 tweets on '+$('#query').val()
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: getPercentage(data)
    });
}; 
function getNegativePercentage(data) {
	var current_data = data['data'];
	var counter = 0 ;
	for (var i = current_data.length - 1; i >= 0; i--) {
		if(current_data[i].sentiment == 'negative') 
			counter ++;
	}
		console.log('negative',counter)

	return counter/data.count;
}
function getPositivePercentage(data) {
	var current_data = data['data'];
	var counter = 0 ;
	for (var i = current_data.length - 1; i >= 0; i--) {
		if(current_data[i].sentiment == 'positive') 
			counter ++;
	}
		console.log('positive',counter)

	return counter/data.count;
}
function getNeutralPercentage(data) {
	var current_data = data['data'];
	var counter = 0 ;
	for (var i = current_data.length - 1; i >= 0; i--) {
		if(current_data[i].sentiment == 'neutral') 
			counter ++;
	}
	console.log('neutral',counter)
	return counter/data.count;
}
function getPercentage(data) {
	var neutral = getNeutralPercentage(data);
	var positive = getPositivePercentage(data);
	var negative = getNegativePercentage(data);

	return [{
            name: 'Tweets',
            //colorByPoint: true,
            data: [{
                name: 'Positive',
                y: positive
            }, {
                name: 'Negative',
                y: negative,
                sliced: true,
                selected: true
            }, {
                name: 'Neutral',
                y: neutral
            }]
        }]
	// body...
}

	</script>
</body>
</html>
